<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>imageName</key>
        <string>Flag_of_Argentina</string>
        <key>continent</key>
        <string>SA</string>
        <key>nation</key>
        <string>Argentina</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>Flag_of_Australia</string>
        <key>continent</key>
        <string>OA</string>
        <key>nation</key>
        <string>Australia</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>Flag_of_Brazil</string>
        <key>continent</key>
        <string>SA</string>
        <key>nation</key>
        <string>Brazil</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>Flag_of_Canada</string>
        <key>continent</key>
        <string>NA</string>
        <key>nation</key>
        <string>Canada</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>Flag_of_Denmark</string>
        <key>continent</key>
        <string>EU</string>
        <key>nation</key>
        <string>Denmark</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>Flag_of_Finland</string>
        <key>continent</key>
        <string>EU</string>
        <key>nation</key>
        <string>Finland</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>Flag_of_France</string>
        <key>continent</key>
        <string>EU</string>
        <key>nation</key>
        <string>France</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>Flag_of_Greece</string>
        <key>continent</key>
        <string>EU</string>
        <key>nation</key>
        <string>Greece</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>Flag_of_Hong_Kong</string>
        <key>continent</key>
        <string>AS</string>
        <key>nation</key>
        <string>Hong Kong</string>
    </dict>
    <dict>
        <key>imageName</key>
        <string>Flag_of_India</string>
        <key>continent</key>
        <string>AS</string>
        <key>nation</key>
        <string>India</string>
    </dict>
</array>
</plist>
