<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>spelling</key>
        <string>zero</string>
        <key>digit</key>
        <string>0</string>
        <key>ID</key>
        <string>73842</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>one</string>
        <key>digit</key>
        <string>1</string>
        <key>ID</key>
        <string>73843</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>two</string>
        <key>digit</key>
        <string>2</string>
        <key>ID</key>
        <string>73844</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>three</string>
        <key>digit</key>
        <string>3</string>
        <key>ID</key>
        <string>73845</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>four</string>
        <key>digit</key>
        <string>4</string>
        <key>ID</key>
        <string>73846</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>five</string>
        <key>digit</key>
        <string>5</string>
        <key>ID</key>
        <string>73847</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>six</string>
        <key>digit</key>
        <string>6</string>
        <key>ID</key>
        <string>73848</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>seven</string>
        <key>digit</key>
        <string>7</string>
        <key>ID</key>
        <string>73849</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>eight</string>
        <key>digit</key>
        <string>8</string>
        <key>ID</key>
        <string>73850</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>nine</string>
        <key>digit</key>
        <string>9</string>
        <key>ID</key>
        <string>73851</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>ten</string>
        <key>digit</key>
        <string>10</string>
        <key>ID</key>
        <string>73852</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>eleven</string>
        <key>digit</key>
        <string>11</string>
        <key>ID</key>
        <string>73853</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>twelve</string>
        <key>digit</key>
        <string>12</string>
        <key>ID</key>
        <string>73854</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>thirteen</string>
        <key>digit</key>
        <string>13</string>
        <key>ID</key>
        <string>73855</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>fourteen</string>
        <key>digit</key>
        <string>14</string>
        <key>ID</key>
        <string>73856</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>fifteen</string>
        <key>digit</key>
        <string>15</string>
        <key>ID</key>
        <string>73857</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>sixteen</string>
        <key>digit</key>
        <string>16</string>
        <key>ID</key>
        <string>73858</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>seventeen</string>
        <key>digit</key>
        <string>17</string>
        <key>ID</key>
        <string>73859</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>eighteen</string>
        <key>digit</key>
        <string>18</string>
        <key>ID</key>
        <string>73860</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>nineteen</string>
        <key>digit</key>
        <string>19</string>
        <key>ID</key>
        <string>73861</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>twenty</string>
        <key>digit</key>
        <string>20</string>
        <key>ID</key>
        <string>73862</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>twenty-one</string>
        <key>digit</key>
        <string>21</string>
        <key>ID</key>
        <string>73863</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>twenty-two</string>
        <key>digit</key>
        <string>22</string>
        <key>ID</key>
        <string>73864</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>twenty-three</string>
        <key>digit</key>
        <string>23</string>
        <key>ID</key>
        <string>73865</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>twenty-four</string>
        <key>digit</key>
        <string>24</string>
        <key>ID</key>
        <string>73866</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>twenty-five</string>
        <key>digit</key>
        <string>25</string>
        <key>ID</key>
        <string>73867</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>twenty-six</string>
        <key>digit</key>
        <string>26</string>
        <key>ID</key>
        <string>73868</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>twenty-seven</string>
        <key>digit</key>
        <string>27</string>
        <key>ID</key>
        <string>73869</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>twenty-eight</string>
        <key>digit</key>
        <string>28</string>
        <key>ID</key>
        <string>73870</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>twenty-nine</string>
        <key>digit</key>
        <string>29</string>
        <key>ID</key>
        <string>73871</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>thirty</string>
        <key>digit</key>
        <string>30</string>
        <key>ID</key>
        <string>73872</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>thirty-one</string>
        <key>digit</key>
        <string>31</string>
        <key>ID</key>
        <string>73873</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>thirty-two</string>
        <key>digit</key>
        <string>32</string>
        <key>ID</key>
        <string>73874</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>thirty-three</string>
        <key>digit</key>
        <string>33</string>
        <key>ID</key>
        <string>73875</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>thirty-four</string>
        <key>digit</key>
        <string>34</string>
        <key>ID</key>
        <string>73876</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>thirty-five</string>
        <key>digit</key>
        <string>35</string>
        <key>ID</key>
        <string>73877</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>thirty-six</string>
        <key>digit</key>
        <string>36</string>
        <key>ID</key>
        <string>73878</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>thirty-seven</string>
        <key>digit</key>
        <string>37</string>
        <key>ID</key>
        <string>73879</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>thirty-eight</string>
        <key>digit</key>
        <string>38</string>
        <key>ID</key>
        <string>73880</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>thirty-nine</string>
        <key>digit</key>
        <string>39</string>
        <key>ID</key>
        <string>73881</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>forty</string>
        <key>digit</key>
        <string>40</string>
        <key>ID</key>
        <string>73882</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>forty-one</string>
        <key>digit</key>
        <string>41</string>
        <key>ID</key>
        <string>73883</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>forty-two</string>
        <key>digit</key>
        <string>42</string>
        <key>ID</key>
        <string>73884</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>forty-three</string>
        <key>digit</key>
        <string>43</string>
        <key>ID</key>
        <string>73885</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>forty-four</string>
        <key>digit</key>
        <string>44</string>
        <key>ID</key>
        <string>73886</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>forty-five</string>
        <key>digit</key>
        <string>45</string>
        <key>ID</key>
        <string>73887</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>forty-six</string>
        <key>digit</key>
        <string>46</string>
        <key>ID</key>
        <string>73888</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>forty-seven</string>
        <key>digit</key>
        <string>47</string>
        <key>ID</key>
        <string>73889</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>forty-eight</string>
        <key>digit</key>
        <string>48</string>
        <key>ID</key>
        <string>73890</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>forty-nine</string>
        <key>digit</key>
        <string>49</string>
        <key>ID</key>
        <string>73891</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>fifty</string>
        <key>digit</key>
        <string>50</string>
        <key>ID</key>
        <string>73892</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>fifty-one</string>
        <key>digit</key>
        <string>51</string>
        <key>ID</key>
        <string>73893</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>fifty-two</string>
        <key>digit</key>
        <string>52</string>
        <key>ID</key>
        <string>73894</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>fifty-three</string>
        <key>digit</key>
        <string>53</string>
        <key>ID</key>
        <string>73895</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>fifty-four</string>
        <key>digit</key>
        <string>54</string>
        <key>ID</key>
        <string>73896</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>fifty-five</string>
        <key>digit</key>
        <string>55</string>
        <key>ID</key>
        <string>73897</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>fifty-six</string>
        <key>digit</key>
        <string>56</string>
        <key>ID</key>
        <string>73898</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>fifty-seven</string>
        <key>digit</key>
        <string>57</string>
        <key>ID</key>
        <string>73899</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>fifty-eight</string>
        <key>digit</key>
        <string>58</string>
        <key>ID</key>
        <string>73900</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>fifty-nine</string>
        <key>digit</key>
        <string>59</string>
        <key>ID</key>
        <string>73901</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>sixty</string>
        <key>digit</key>
        <string>60</string>
        <key>ID</key>
        <string>73902</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>sixty-one</string>
        <key>digit</key>
        <string>61</string>
        <key>ID</key>
        <string>73903</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>sixty-two</string>
        <key>digit</key>
        <string>62</string>
        <key>ID</key>
        <string>73904</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>sixty-three</string>
        <key>digit</key>
        <string>63</string>
        <key>ID</key>
        <string>73905</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>sixty-four</string>
        <key>digit</key>
        <string>64</string>
        <key>ID</key>
        <string>73906</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>sixty-five</string>
        <key>digit</key>
        <string>65</string>
        <key>ID</key>
        <string>73907</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>sixty-six</string>
        <key>digit</key>
        <string>66</string>
        <key>ID</key>
        <string>73908</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>sixty-seven</string>
        <key>digit</key>
        <string>67</string>
        <key>ID</key>
        <string>73909</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>sixty-eight</string>
        <key>digit</key>
        <string>68</string>
        <key>ID</key>
        <string>73910</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>sixty-nine</string>
        <key>digit</key>
        <string>69</string>
        <key>ID</key>
        <string>73911</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>seventy</string>
        <key>digit</key>
        <string>70</string>
        <key>ID</key>
        <string>73912</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>seventy-one</string>
        <key>digit</key>
        <string>71</string>
        <key>ID</key>
        <string>73913</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>seventy-two</string>
        <key>digit</key>
        <string>72</string>
        <key>ID</key>
        <string>73914</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>seventy-three</string>
        <key>digit</key>
        <string>73</string>
        <key>ID</key>
        <string>73915</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>seventy-four</string>
        <key>digit</key>
        <string>74</string>
        <key>ID</key>
        <string>73916</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>seventy-five</string>
        <key>digit</key>
        <string>75</string>
        <key>ID</key>
        <string>73917</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>seventy-six</string>
        <key>digit</key>
        <string>76</string>
        <key>ID</key>
        <string>73918</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>seventy-seven</string>
        <key>digit</key>
        <string>77</string>
        <key>ID</key>
        <string>73919</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>seventy-eight</string>
        <key>digit</key>
        <string>78</string>
        <key>ID</key>
        <string>73920</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>seventy-nine</string>
        <key>digit</key>
        <string>79</string>
        <key>ID</key>
        <string>73921</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>eighty</string>
        <key>digit</key>
        <string>80</string>
        <key>ID</key>
        <string>73922</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>eighty-one</string>
        <key>digit</key>
        <string>81</string>
        <key>ID</key>
        <string>73923</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>eighty-two</string>
        <key>digit</key>
        <string>82</string>
        <key>ID</key>
        <string>73924</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>eighty-three</string>
        <key>digit</key>
        <string>83</string>
        <key>ID</key>
        <string>73925</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>eighty-four</string>
        <key>digit</key>
        <string>84</string>
        <key>ID</key>
        <string>73926</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>eighty-five</string>
        <key>digit</key>
        <string>85</string>
        <key>ID</key>
        <string>73927</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>eighty-six</string>
        <key>digit</key>
        <string>86</string>
        <key>ID</key>
        <string>73928</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>eighty-seven</string>
        <key>digit</key>
        <string>87</string>
        <key>ID</key>
        <string>73929</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>eighty-eight</string>
        <key>digit</key>
        <string>88</string>
        <key>ID</key>
        <string>73930</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>eighty-nine</string>
        <key>digit</key>
        <string>89</string>
        <key>ID</key>
        <string>73931</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>ninety</string>
        <key>digit</key>
        <string>90</string>
        <key>ID</key>
        <string>73932</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>ninety-one</string>
        <key>digit</key>
        <string>91</string>
        <key>ID</key>
        <string>73933</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>ninety-two</string>
        <key>digit</key>
        <string>92</string>
        <key>ID</key>
        <string>73934</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>ninety-three</string>
        <key>digit</key>
        <string>93</string>
        <key>ID</key>
        <string>73935</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>ninety-four</string>
        <key>digit</key>
        <string>94</string>
        <key>ID</key>
        <string>73936</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>ninety-five</string>
        <key>digit</key>
        <string>95</string>
        <key>ID</key>
        <string>73937</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>ninety-six</string>
        <key>digit</key>
        <string>96</string>
        <key>ID</key>
        <string>73938</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>ninety-seven</string>
        <key>digit</key>
        <string>97</string>
        <key>ID</key>
        <string>73939</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>ninety-eight</string>
        <key>digit</key>
        <string>98</string>
        <key>ID</key>
        <string>73940</string>
    </dict>
    <dict>
        <key>spelling</key>
        <string>ninety-nine</string>
        <key>digit</key>
        <string>99</string>
        <key>ID</key>
        <string>73941</string>
    </dict>
</array>
</plist>
